.footer__logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--title-list-color);
  text-decoration: none;
}
