.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h1,
h3 {
  margin: 0;
  padding: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  transition: transform var(--time-ms) var(--time-use),
    background-color var(--time-ms) var(--time-use),
    border-color var(--time-ms) var(--time-use),
    fill var(--time-ms) var(--time-use), color var(--time-ms) var(--time-use);
}
